body {
    margin: 5% auto 0 auto;
    max-width: 580px;
    padding: 15px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

div {
    display: flex;
    justify-content: space-between;
}

main {
    align-self: center;
    padding-right: 4px;
}

main p.heading {
    font-weight: bold;
}
